<section class="hero is-primary is-bold is-fullheight has-text-centered">
  <div class="hero-body container">
    <div class="form-container">
      <h1
        [@stationFormSize]="!!stationData"
        class="title is-1">
        when's the last bike at
      </h1>
      <div class="field">
        <p class="control has-icon has-icon-right">
          <input
            class="input is-large"
            auto-complete
            [(ngModel)]="station"
            [source]="stations"
            display-property-name="name"
            placeholder="Select a station"
            value-formatter="name"
            list-formatter="name"
            [match-formatted]="true"
            (valueChanged)="changeStation($event)" />
          <span class="icon is-large" *ngIf="!station">
            <i class="fa fa-angle-down"></i>
          </span>
        </p>
      </div>
      <div class="select is-large">
        <select [(ngModel)]="station" (change)="changeStation($event)">
          <option [value]="undefined" hidden disabled selected>Select a station</option>
          <option *ngFor="let s of stations" [ngValue]="s" >{{s.name}}</option>
        </select>
      </div>
    </div>
    <div
      [@stationTimeSize]="!!stationData"
      class="time">
      <p class="title very-very-big">
        {{time()}}
      </p>
    </div>
  </div>
  
</section>
