<section class="hero is-primary is-bold is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1
        [ngClass]="{'very-very-big': !this.stationData, 'is-1': !!this.stationData}"
        class="title">
        when's the last bike at
      </h1>
      <div
        [ngClass]="{'is-large': !this.stationData, 'is-medium': !!this.stationData}"
        class="select">
        <select [(ngModel)]="station" (change)="changeStation($event)">
          <option [value]="undefined" hidden disabled selected>Select a station</option>
          <option *ngFor="let s of stations" [ngValue]="s" >{{s.name}}</option>
        </select>
      </div>
      <div *ngIf="!!stationData" class="title very-very-big">
        {{time()}}
      </div>
    </div>
  </div>
</section>
