.hero-body {
  display: flex;
  flex-direction: column;
}

.form-container {
  flex: .5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
}

.time {
  flex: 1;
}

.has-icon-right .icon {
  height: 3.5rem;
  width: 3.5rem;
  color: #00d1b2;
}

.control.has-icon .icon.remove-station {
  cursor: pointer;
  pointer-events: all;
}