.container {
  display: flex;
  flex-direction: column;
}

.stations {
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

.stations .title {
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.field {
  margin-top: -2rem;
}

/*.form-container .title {*/
/*  margin-bottom: 0;*/
/*}*/

.has-icon-right .icon {
  height: 3.5rem;
  width: 3.5rem;
  color: #00d1b2;
}

.control.has-icon .icon.remove-station {
  cursor: pointer;
  pointer-events: all;
}