.stations {
  min-height: 100vh;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stations .title {
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.with-station .field {
  margin-top: -2rem;
}

.has-icon-right .icon {
  height: 3.5rem;
  width: 3.5rem;
  color: #ffdd57;
}

.delete {
  background-color: #ffdd57;
}

.notification {
  color: #000;
}

.control.has-icon .icon.remove-station {
  cursor: pointer;
  pointer-events: all;
}