/* You can add global styles to this file, and also import other style files */
@import '~bulma/css/bulma.css';


.very-big {
  font-size: 5rem;
}

.very-very-big {
  font-size: 8rem;
}

.completer-no-results,
.completer-searching,
.completer-item-text {
  color: #00d1b2;
  text-align: left;
}

.input.completer-input {
  border-radius: 3px;
}